<app-header></app-header>
<app-navbar></app-navbar>
<div id="texto">
    <div id="container">
        <h2>Comentar Post</h2>
        <h4>Lista de posts disponiveis: </h4>
        <div *ngIf="!listaPosts.length">Não tem posts para comentar!</div>
        <div *ngFor="let post of listaPosts">
            <p style="font-weight: bold;">Criado Por: {{post.email}}</p>
            <p>{{post.description}}</p>
            <form [formGroup]="comentarioForm" (ngSubmit)="onSubmit(post)">
                <div class = "form-group">
                    <p style="font-weight: bold;">Comentários:</p>
                    <div *ngFor="let com of listaComentarios">
                        <div *ngIf="com.post == post.id">
                            <div *ngIf="com.autor == emailCurrentUser">
                                Você comentou: {{com.texto}}
                            </div>
                            <div *ngIf="!(com.autor == emailCurrentUser)">
                                {{com.autor}} comentou: {{com.texto}}
                            </div>
                            Tags: {{com.tags}}
                        </div>
                    </div>
                    <br>
                <input style="width: 300px;" id="comentario" type="text" placeholder="Escreva aqui o seu comentario..." formControlName="comentario"
                    class ="form-control" required/><br>
                <input style="width: 300px;" id="tags" type="text" placeholder="Escreva aqui as tags do comentario..." formControlName="tags"
                    class ="form-control" required/><br><br>
                    <button type="submit" id="submit" class="aceitar"> Adicionar Comentário</button>
                </div>
            </form>
        </div>
    </div>
</div>
