#texto{
    margin-top: 90px;
    margin-left: 17%;
    padding: 1px 16px;
    height: 655px;
    width: 89%;
    background-color: rgb(135, 212, 243);
    display: inline-block;
    vertical-align: top;
    position: absolute;
}