<app-header></app-header>
<app-navbar></app-navbar>
<div id="texto">
    <div id="container">
        <i id="return" type="submit" (click)="return()" class="fa fa-arrow-left"> Voltar </i>
        <h2 style="text-align: center; font-weight: bold;">Calcular caminho mais curto</h2>
        <form [formGroup]="caminhoMaisCurtoForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <!-- <div class ="col-25">
                        <label for="amigos">Utilizador:</label>
                    </div> -->
                    <div class="col-75">
                        <select id="amigos" class="selector" style="margin: 20px; margin-left: 47%;"
                            (change)="selectAmigo($event)">
                            <option selected disabled="disabled">Selecione um jogador</option>
                            <option *ngFor="let eachVal of emailAmigos" [ngValue]="eachVal">
                                {{eachVal}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <p id="mensagem" style="text-align: center;"><span>Selecionou: </span><b>{{selectedAmigo}}</b></p>
            <i id="Calcular" style="margin-left: 37%;" type="submit" (click)="onSubmit()" class="fa fa-calculator"> Calcular caminho </i>
            <p id="mensagem1"><span>Caminho mais Curto: </span></p>
            <div style="font-weight: bold; display: inline; padding-left: 5px; " *ngFor="let eachVal of caminho; last as isLast">
                <span *ngIf="!isLast">{{eachVal}}  →</span>
                <span *ngIf="isLast">{{eachVal}}</span>
            </div>
        </form>
    </div>
</div>