<app-header></app-header>
<app-navbar></app-navbar>
<div id="texto">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <div id="container">
        <h2>Calcular caminho mais seguro</h2>
        <form [formGroup]="camSeguroForm" (ngSubmit)="onSubmit()">
            <div class="form-data">
                <label for="jogador">Jogador Objetivo:</label>
                <select id="amigos" class="selector" style="margin: 20px;" placeholder="Escolha um jogador" (change)="selectChangeHandler($event)">
                    <option selected disabled="disabled"> Selecione um jogador</option>
                    <option *ngFor="let eachVal of emailList" [ngValue] = "eachVal">
                        {{eachVal}}
                    </option>
                </select>
            </div>
            <div class="form-data">
                <label for="forca">Força Minima:</label>
                <input id="forca" style="margin: 20px;" type="forca" placeholder="Insira o valor da força" formControlName="forca"/>
                <div *ngIf="camSeguroForm.controls['forca'].touched && camSeguroForm.controls['forca'].errors?.['required']"><i class="fa fa-warning"></i> Insira um valor!</div>
            </div>
            <button id="submit" type="submit" class="submit"> Calcular Caminho</button>
            
        </form>
        <div>
            <p>Caminho Mais Seguro: </p>
            <div style="display: inline; padding-left: 5px; " *ngFor="let eachVal of emailListCaminho; last as isLast">
                <span *ngIf="!isLast">{{eachVal}}  --></span>
                <span *ngIf="isLast">{{eachVal}}</span>
            </div>
        </div>
    </div>
    
</div>