#cabecalho {
    height: 60px;
    width: 100%;
    display: inline-block;
    position: fixed;
    background-color: rgb(253, 253, 253);
    margin-top: 0%;
    margin-left: 0%;
}
  .header-img {
    /* The image used */
    background-image: url("../imagens/dei.png");
    width: 150;
    height: 50;
    margin-top: 5%;
    margin-left: 5%;
    position: absolute;
  }

#menu {
    height: 30px;
    margin: 20px;
    text-align: right;
}

#menu a {
    margin-bottom: 0%;
    color: black;
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}

#menu a:hover {
    color: white;
    background-color: rgb(12, 12, 7);
  }
