#texto {
    margin-left: 17%;
    padding: 1px 16px;
    height: 665px;
    width: 89%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

#container {
    border-radius: 8px;
    background-color: #f2f2f2e7;
    padding: 15px;
    padding-top: 2px;
    width: 50%;
    overflow-y: auto; 
}

.form-data {
    text-align: right;
    margin-right: 20px;
    max-height: 500%;
}

label {
    padding: 12px 12px 12px 12px;
    display: inline-block;
    /*float: left;
    /*margin-right: 10px;*/
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.submit {
    background-color: rgb(16, 219, 60);
    color: white;
    border: none;
    padding: 9px 15px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(21, 161, 52);
}

.selector {
    width: 192px;
    height: 30px;
}