#content {
    margin-left: 17%;
    padding: 1px 16px;
    height: 665px;
    width: 89%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

label {
    padding: 12px 12px 12px 12px;
    display: inline-block;
    width: 250px;
    /*float: left;
    /*margin-right: 10px;*/
}

#card {
    padding: 17px;
    width: 52%;
    background-color: #f2f2f2e7;
    justify-content: center;
    position: fixed;
    overflow-y: auto;
    border-color: #76b5c5;
    border-style: solid;
    border-radius: 8px;
    top: 50%;
    left: 58%;
    transform: translateX(-50%) translateY(-50%);
}

.h2 {
    margin-left: -3%;
    color: black;
    font-weight: bold
}

input {
    /*margin-left: 10%;*/
    display: inline-block;
}


/*.btn-primary {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
*/

.fa {
    margin-top: 2%;
    font-size: 130%;
    cursor: pointer;
    user-select: none;
    color: black;
    margin-bottom: 10px;
    margin-left: 30px;
}

.fa:hover {
    transform: scale(1.2);
}

.paragrafo {
    padding: 3px 12px 3px 12px;
}