/* .content {
    background-image: url("../imagens/social-network.jpg");
    margin-top: 60px;
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow-x: hidden;
    position: fixed;
  } */

label {
    padding: 12px 12px 12px 12px;
    display: inline-block;
    /*float: left;
    /*margin-right: 10px;*/
}

#card {
    padding: 20px;
    text-align: center;
    width: 40%;
    background-color: #f2f2f2e7;
    border-radius: 5px;
    justify-content: center;
    margin-left: 40%;
    margin-top: 5%;
    position: fixed;
}

.h2 {
    margin-left: -3%;
    color: black;
    font-weight: bold
}

input {
    margin-left: 10%;
    display: inline-block;
}


/*.btn-primary {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}*/

.submit {
    background-color: rgb(16, 219, 60);
    color: white;
    border: none;
    padding: 9px 15px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(21, 161, 52);
}