<app-header></app-header>
<app-navbar></app-navbar>
<div class="content">
    <div id="card">
        <h2 style ="font-weight:bold;"> Sugestão de Grupo</h2>
        <p style= "font-weight: bold;">Introduza quantos utilizadores pretende que existam no grupo e quantas tags em comum</p>
        <form [formGroup]="verGruposForm" (ngSubmit)="onSubmit()">
            <div class ="form-group">
                <label for="nUsers">Número de Utilizadores: </label>
                <input type="text" id="nUsers" formControlName="nUsers" class="form-control" required/>
            </div>
            <div>
                <label for="nTags">Número de Tags: </label>
                <input style="margin-left: 17.5%" type="text" id="nTags" formControlName="nTags" class="form-control" required/>
            </div>
            <div>
                <label for="tagsObg">Tags Obrigatórias: </label>
                <input style="margin-left: 16%" type="text" id="tagsObg" formControlName="tagsObg" class="form-control" required/>
            </div> 
            <button type="submit" id="submit" class="submit">Consultar Grupo</button>
        </form>
    </div>
</div>
