#texto{
    margin-left: 17%;
    padding: 1px 16px;
    height: 665px;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
}
 
#container{
    border-color: #76b5c5;
    border-style: solid;
    border-radius: 8px;
    background-color: #f2f2f2e7;
    padding: 15px;
    padding-top: 2px;
    width: 70%;
    margin-top: 100px;
    margin-left: 23%;
}

#table{
    border-color: #76b5c5;
    border-style: solid;
}

.fa {
    font-size: 25px;
    cursor: pointer;
    user-select: none;
    color: black;
    margin-bottom: 10px;
}
  
.fa:hover {
    transform: scale(1.2);
}
  
.fa-check-circle:hover {
    color: green;
}
  
.fa-times-circle:hover {
   color: red;
}

input[type=text] {
    width: 100%;
    padding: 3px;
    margin: 5px 0 22px 90px;
    display: inline-block;
    border: none;
    background: #ffffff;
}

input[type=text]:focus {
    background-color: #ffffff;
    outline: none;
}