<app-header></app-header>
<app-navbar></app-navbar>
<div id="texto">
    <div id="container">
        <h2>Calcular caminho mais forte</h2>
        <form>
            <div class="form-data">
                <label for="jogador">Jogador Objetivo:</label>
                <select id="amigos" class="selector" style="margin: 20px;" placeholder="Escolha um jogador">
                    <option>Jogador1</option>
                    <option>Jogador2</option>
                    <option>Jogador3</option>
                </select>
            </div>
            <button id="submit" type="submit" class="submit"> Calcular Caminho</button>
        </form>
    </div>
</div>
