<div id="texto">
    <h2>Calcular caminho mais forte</h2>
    <div id="container">
        <form>
            <div class="form-data">
                <label for="jogador">Jogador Objetivo:</label>
                <select class="selector" style="margin: 20px;" placeholder="Escolha um jogador">
                    <option>Jogador1</option>
                    <option>Jogador2</option>
                    <option>Jogador3</option>
                </select>
            </div>
            <button type="submit" class="submit"> Calcular Caminho</button>
        </form>
    </div>
</div>
