<app-header></app-header>
<app-navbar></app-navbar>
<div id="texto">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div id="container">
        <h2 style ="font-weight: bold;"> Tag Cloud Pessoal:</h2>
        <div *ngIf="!listTags.length">Não tem posts com tags associadas!</div>
        <div class ="tags"><br>
            <i type="submit" (click)="reDraw()" class="fa"> Obter Tag Cloud</i>
            <angular-tag-cloud [data]="data" [width]="options.width" [height]="options.height" [overflow]="options.overflow"
            [zoomOnHover]="options.zoomOnHover" [realignOnResize]="options.realignOnResize"></angular-tag-cloud> 
        </div>
       <!--<h4 style=""
            <div *ngFor = "let tag of listTags">
                <p>{{tag}} <button (click)="jogadoresTag(tag)"
                    style="cursor: pointer; margin-left: 80%; display: block; margin-top: -25px;">Ver
                    Utilizadores</button></p>
        </div>-->
    </div>
   <!--<div class="jogadores">
        <h4>Utilizadores com a tag selecionada:</h4>
        <div *ngFor="let jog of listJogadores">
            <p>Nome: {{jog.nome}}, Email: {{jog.email}}</p>
        </div>
    </div>-->
</div>
