<app-header></app-header>
<app-navbar></app-navbar>
<div class="card">
    <div class="card-body">
        <div class="card1">
            <h2 style="margin-left: 34%;">Ver Algoritmos</h2>
                <div class="card2">
                    <h4 class="h41" style="margin-top: 6%; font-weight: bold;">aStar - Força Ligação Relação</h4>
                    <h4 class="h42"> aStar - Força Ligação</h4>
                    <div class="botao1">
                        <button (click)="relacaoLigacao()">Ver soluções</button>
                    </div>
                    <div class="botao2">
                        <button (click)="aStarLigacao()">Ver soluções</button>
                    </div>
              <!--  </div>-->
            <!--<div class="card4">-->
                <h4 class="h41" style="margin-top: 6%; font-weight: bold;">Best First - Força Ligação Relação</h4>
                <h4 class="h42">Best First - Força Ligação</h4>
                <div class ="botao1">
                    <button (click)="bestFirstRelLig()">Ver soluções</button>
                </div>
                <div class="botao2">
                    <button (click)="bestFirstLig()"> Ver soluções</button>
                </div>
                <h4 class ="h41" style="margin-top: 6%; font-weight: bold;">Depth First - Força Ligação Relação</h4>
                <h4 class="h42">Depth First - Força Ligação</h4>
                <div class ="botao1">
                    <button (click)="dfsLigRel()">Ver soluções</button>
                </div>
                <div class ="botao2">
                    <button (click)="dfsLigacao()">Ver soluções</button>
                </div>
            <!--</div>-->
        </div>
    </div>
</div>