<app-header></app-header>
<app-navbar></app-navbar>
<div class="card">
    <div class="card-body">
        <div class="card1">
            <h2 style="text-align: center; font-weight: bold;">Ver Algoritmos</h2>
            <div class="card2">
                <h4 class="h41" style="margin-top: 6%; font-weight: bold;">aStar - Força Ligação Relação</h4>
                <h4 class="h42"> aStar - Força Ligação</h4>
                <div class="botao1">
                    <i id="aStarLigRel" type="submit" (click)="relacaoLigacao()" class="fa fa-calculator">
                        Ver soluções </i>
                </div>
                <div class="botao2">
                    <i id="aStarLig" style="margin-left: 0px;" type="submit" (click)="aStarLigacao()"
                        class="fa fa-calculator">
                        Ver soluções </i>
                </div>
                <h4 class="h41" style="margin-top: 6%; font-weight: bold;">Best First - Força Ligação Relação</h4>
                <h4 class="h42">Best First - Força Ligação</h4>
                <div class="botao1">
                    <i id="bestFirstLigRel" type="submit" (click)="bestFirstRelLig()" class="fa fa-calculator">
                        Ver soluções </i>
                </div>
                <div class="botao2">
                    <i id="bestFirstLig" style="margin-left: 0px;" type="submit" (click)="bestFirstLig()"
                        class="fa fa-calculator">
                        Ver soluções </i>
                </div>
                <h4 class="h41" style="margin-top: 6%; font-weight: bold;">Depth First - Força Ligação Relação</h4>
                <h4 class="h42">Depth First - Força Ligação</h4>
                <div class="botao1">
                    <i id="dfsLigRel" type="submit" (click)="dfsLigRel()" class="fa fa-calculator">
                        Ver soluções </i>
                </div>
                <div class="botao2">
                    <i id="dfsLig" style="margin-left: 0px;" type="submit" (click)="dfsLigacao()"
                        class="fa fa-calculator">
                        Ver soluções </i>
                </div>
            </div>
        </div>
    </div>
</div>