<app-header></app-header>
<app-navbar></app-navbar>
<div class="card">
    <div class="card-body">
        <div class="tags">
            <h2 style ="margin-left: 34%;"> Amigos/Grupos</h2>
            <button id="amigosComum" (click)="amigosEmComum()"
                style="cursor: pointer; margin-left: 35%; display: block; margin-top: 60px;">Amigos em comum</button>
            <button id="amigosSugeridos" (click)="amigosSugeridos()"
                style="cursor: pointer; margin-left: 35%; display: block; margin-top: 60px;">Amigos sugeridos</button>
            <button id="gruposSugeridos" (click)="gruposSugeridos()"
                style="cursor: pointer; margin-left: 35%; display: block; margin-top: 60px;">Grupos Sugeridos</button>
        </div>
    </div>
</div>
                
