<app-header></app-header>
<app-navbar></app-navbar>
<div class="card">
    <div class="card-body">
        <div class="tags">
            <h2 style="text-align: center; margin-bottom: 60px;"> Amigos/Grupos</h2>
            <div class="container">
                <div class="col1">
                    <i id="amigosComum" type="submit" (click)="amigosEmComum()" class="fa">Amigos em comum</i>
                </div>
                <div class="col1">
                    <i id="amigosSugeridos" style="margin-left: 17%" type="submit" (click)="amigosSugeridos()" class="fa">Sugerir
                        Amigos</i>
                </div>
                <div class="col3">
                    <i id="gruposSugeridos" style="margin-left: 18%;" type="submit" (click)="gruposSugeridos()" class="fa">Grupos
                        Sugeridos</i>
                </div>
            </div>
        </div>
    </div>
</div>