.card {
    overflow-y: auto;
    padding: 17px;
    background-color: #f2f2f2e7;
    justify-content: center;
    position: absolute;
    border-color: #76b5c5;
    border-style: solid;
    border-radius: 8px;
    top: 42%;
    left: 58%;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    width: 55%;
    height: 300px;
}

.container {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}
.col1{
    float: left;
    width: 33.3%;
}

.col3{
    float: right;
    width: 33.3%;
}

.tags {
    margin-left: 3%;
}

.tags h2 {
    margin-left: -3%;
    font-weight: bold;
    height: auto;
}

.fa {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    color: black;
    margin-top: 7%;
}

.fa:hover {
    transform: scale(1.2);
}

#over:hover {
    color: #76b5c5;
}

