<app-header></app-header>
<app-navbar></app-navbar>
<div class="card">
    <div class="card-body">
        <div class="tags">
            <h2 style ="margin-left: 34%;"> Amigos/Grupos</h2>
            <i id="over" type="submit" (click)="amigosEmComum()" class="fa">Amigos em comum</i>
            <i id="over" style="margin-left: 17%" type="submit" (click)="amigosSugeridos()" class ="fa">Amigos sugeridos</i>
            <i id="over" style="margin-left: 18%;" type="submit" (click)="gruposSugeridos()" class="fa">Grupos Sugeridos</i>
        </div>
    </div>
</div>
                
