.card {
    padding: 17px;
    width: 50%;
    background-color: #f2f2f2e7;
    border-radius: 5px;
    justify-content: center;
    margin-left: 33%;
    margin-top: 15px;
    position: fixed;
    height: 45%;
    overflow-y: auto;
}

.tags {
    margin-left: 3%;
}

.tags h2 {
    margin-left: -3%;
    color: black;
    font-weight: bold
}