<main>
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div id="content">
        <div id="canvas">
            <div id="views-panel">
                <table class="views">
                    <tr>
                        <td>
                            <label>View:</label>
                            <select id='view'>
                                <option value='fixed'>Fixed</option>
                                <option value='first'>First-person</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div> 
        </div>
    </div>
</main>