<main>
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div id="content">
        <div id="canvas">
            <div class="circular_image">
                <img id="playerTipAvatar" [src]="imagePreview" style = "height: 5%; margin-top: -3%; border-radius: 50%;">
            </div>
            <div id="views-panel">
                <table class="views">
                    <tr>
                        <td>
                            <label>View:</label>
                            <select id='view' (change)="selectCamera($event)">
                                <option selected disabled="disabled">Selecione uma câmera</option>
                                <option value='fixed'>Fixed</option>
                                <option value='first'>First-person</option>
                            </select>
                            <form [formGroup]="checkForm">
                                <div class="pequenas">
                                    <input type="checkbox" formControlName="check" id="checkRegisto" name="checkRegisto"
                                        (change)="isChecked()">
                                    <label for="checkRegisto">Movimento no mini-mapa</label>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>