.content {
    /* The image used */
    /*background-color: black;*/
    background-image: url("../imagens/social-network.jpg");
    margin-top: 60px;
    /* Control the height of the image */
    min-height: 500px;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow-x: hidden;
    position: fixed;
  }

  #texto{
    margin-left: 17%;
    padding: 1px 16px;
    height: 665px;
    width: 89%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

#container{
  margin-top: 18px;
    border-radius: 8px;
    background-color: #f2f2f2e7;
    padding: 15px;
    padding-top: 2px;
    width: 70%;
}