<main>
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div class="content">
        <div id="texto">
            <div *ngFor="let nomeUser of nomes" id="container">
                <div id="textHello">Olá {{nomeUser}}!</div>
            </div>
        </div>
        <div id="card">
            <p>Escolha o seu primeiro jogador objetivo</p>
            <form [formGroup]="ntagsForm">
                <div class="form-group">
                    <label for="ntags">Número de tags que pretende que estejam em comum com outros utilizadores</label>
                    <input type="text" id="ntags" placeholder="Número inteiro menos que o seu número de tags"
                        formControlName="ntags" class="form-control" required />
                </div>
            </form>
            <div class="form-group">
                <button (click)="onSubmitTags()" id="submit" class="btn-primary">Ok</button>
            </div>
            <form [formGroup]="pedirJogadorObjetivo" >
                <div class="form-group">
                    <div class="row">
                        <div class="col-75">
                            <select class="selector" style="margin: 20px; margin-left: 170px;"
                                (change)="selectChangeHandler($event)">
                                <option selected disabled="disabled"> Selecione um jogador</option>
                                <option *ngFor="let eachVal of showNames">
                                    {{eachVal}}
                                </option>
                            </select>
                            <p><span>Pedido enviado a:</span><br><b>{{selected}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button (click)="onSubmitLigacao()" id="submit" class="btn-primary">Ok</button>
                </div>
            </form>
            
        </div>
    </div>
    <router-outlet></router-outlet>
</main>