<app-header></app-header>
<app-navbar></app-navbar>
<div id="texto">
    <h2>Lista de introduções pendentes:</h2>
    <div id="container">
        <p>Introdução A</p>
        <button type="submit" class="aceitar"><i class="fa fa-check"></i> Aceitar</button>
        <button type="submit" class="rejeitar"><i class="fa fa-times"></i> Rejeitar</button>
        <p>Introdução B</p>
        <button type="submit" class="aceitar"><i class="fa fa-check"></i> Aceitar</button>
        <button type="submit" class="rejeitar"><i class="fa fa-times"></i> Rejeitar</button>
        <p>Introdução C</p>
        <button type="submit" class="aceitar"><i class="fa fa-check"></i> Aceitar</button>
        <button type="submit" class="rejeitar"><i class="fa fa-times"></i> Rejeitar</button>
    </div>
</div>

