<div id="texto">
    <h2>Lista de pedidos de introdução pendentes:</h2>
    <div id="container">
        <p>Pedido A</p>
        <button type="submit" class="aceitar"><i class="fa fa-check"></i> Aceitar</button>
        <button type="submit" class="rejeitar"><i class="fa fa-times"></i> Rejeitar</button>
        <p>Pedido B</p>
        <button type="submit" class="aceitar"><i class="fa fa-check"></i> Aceitar</button>
        <button type="submit" class="rejeitar"><i class="fa fa-times"></i> Rejeitar</button>
        <p>Pedido C</p>
        <button type="submit" class="aceitar"><i class="fa fa-check"></i> Aceitar</button>
        <button type="submit" class="rejeitar"><i class="fa fa-times"></i> Rejeitar</button>
    </div>
</div>
