#texto {
    margin-left: 17%;
    padding: 1px 16px;
    height: 665px;
    width: 89%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

#container {
    border-color: #76b5c5;
    border-style: solid;
    border-radius: 8px;
    background-color: #f2f2f2e7;
    padding: 15px;
    margin-top: 120px;
    margin-left: 22%;
    width: 50%;
}

.form-data {
    text-align: right;
    margin-right: 20px;
}

label {
    padding: 12px 12px 12px 12px;
    display: inline-block;
    font-weight: bold;
}

.col-25 {
    float: left;
    width: 11%;
    margin-top: 6px;
    margin-left: 50px;
}

.botao {
    margin-top: 42px;
    text-align: center;
}

.col-75 {
    float: left;
    width: 70%;
    margin-left: 50px;
    margin-top: -8px;
}

.col-85 {
    float: right;
    width: 81%;
    margin-top: -3px;
    margin-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.fa {
    margin-top: 2%;
    font-size: 130%;
    cursor: pointer;
    user-select: none;
    color: black;
    margin-bottom: 10px;
}
  
.fa:hover {
    transform: scale(1.2);
}