#canvas {
    position: absolute;
    overflow: hidden;
    margin-top: 1.5%;
    margin-left: 42.5%;
  }

  #texto{
    margin-left: 17%;
    padding: 1px 16px;
    height: 665px;
    width: 89%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

#container{
    border-radius: 8px;
    background-color: #f2f2f2e7;
    padding: 15px;
    padding-top: 2px;
    width: 25%;
}

.form-data{
    margin-right: 20px;
}

.submit{
    background-color: rgb(16, 219, 60);
    color: white;
    border: none;
    padding: 9px 15px;
    cursor: pointer;
}

.submit:hover{
    background-color: rgb(21, 161, 52);
}