<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

<app-header></app-header>
<app-navbar></app-navbar>
<div id="texto">
    <div id="container">
        <i id="return" type="submit" (click)="return()" class="fa fa-arrow-left"> Voltar </i>
        <h2 style="text-align: center; font-weight: bold;">Leaderboard Dimensão da Rede</h2>
        <div *ngFor = "let jog of listaFinal">
            <p style="text-align: center;">{{jog}}</p>
        </div>
        <i style="margin-left: 40%;" type="submit" id="submit" (click)="dimensaoRede()" class="fas fa-medal"> Ver Ranking</i>
    </div>
</div>