.fundo {
    /* The image used */
    background-image: url("../imagens/social-network.jpg");
    margin-top: 80px;
    /* Control the height of the image */
    min-height: 600px;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow-x: hidden;
    position: absolute;
  }

/* Add padding to containers */
.card {
  padding: 17px;
  text-align: center;
  width: 40%;
  background-color: #f2f2f2e7;
  border-radius: 5px;
  justify-content: center;
  margin-left: 30%;
  margin-top: 7%;
  position: relative;
}

/* Full-width input fields */
input[type=email], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

input[type=email]:focus, input[type=password]:focus {
background-color: #ffffff;
  outline: none;
}


/* Set a style for the submit/register button */
.btn-primary {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn-primary:hover {
  opacity:1;
}

.card-header{
    font-weight: bold;
    padding-bottom: 5%;
}