<div class="fundo">
    <div id="texto">
        <h2>Editar Perfil de Utilizador</h2>
        <div class="card" style="width: 18rem; margin: auto;">
            <div class="card-body">
                <!-- <h4 class="card-title">{{username}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{email}}</h6>-->
                <br>
                <p class="card-text">Bem-vindo
                    <!--{{username}}-->à sua página de perfil.</p>
                <br>
            </div>
        </div>
    </div>
    <div class="card1">
        <h4 class="card-header">Editar Perfil Próprio</h4>
        <div class="card-body">
            <div class="row">
                <div class="col-25">
                    <label for="nome">Nome</label>
                </div>
                <div class="col-75">
                    <input type="nome" placeholder="Insira o nome" formControlName="nome" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="email">Email</label>
                </div>
                <div class="col-75">
                    <input type="email" placeholder="Insira o email" formControlName="email" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="pais">País</label>
                </div>
                <div class="col-75">
                    <input type="pais" placeholder="Insira o país" formControlName="país" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="estadodehumor">Estado de Humor</label>
                </div>
                <div class="col-75">
                    <input type="estadodehumor" placeholder="Insira o estado de humor" formControlName="estadodehumor" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="btn-primary">Editar</button>
            </div>
        </div>
    </div>
</div>
<!-- <button class="btn btn-danger" (click)="deleteUser()" style="float: right;"> Apagar Utilizador </button>-->