/* Add padding to containers */
.card1 {
  padding: 17px;
  text-align: center;
  width: 40%;
  background-color: #f2f2f2e7;
  justify-content: center;
  position: absolute;
  border-color: #76b5c5;
  border-style: solid;
  border-radius: 8px;
  top: 45%;
  left: 58%;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
}


/* Full-width input fields */

label {
    padding: 12px 12px 12px 12px;
    display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  font-weight: bold;
}

.row {
  margin-bottom: 1%;
}

.col-75 {
  float: left;
  width: 72%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=text] {
  margin-top: 2%;
  width: 90%;
  padding: 5px;
  border: none;
  float: right;
  background: #ffffff;
}

input[type=text]:focus {
  background-color: #ffffff;
  outline: none;
}

.card-header {
    font-weight: bold;
    padding-bottom: 5%;
}

.card3 {
  padding: 17px;
  text-align: center;
  width: 50%;
  background-color: #f2f2f2e7;
  justify-content: center;
  border-color: #76b5c5;
  border-style: solid;
  border-radius: 8px;
  top: 52%;
  left: 58%;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
}

  .estadoClass {
    margin-bottom: 1%;
  }

  .estadoClass b {
    margin-left: 2%;
  }

  .labelEstado {
    width: 30%;
    margin-right: 20%;
    position: relative;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 25%;
    margin-left: -5%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #03a9f4;
    border-radius: 25px;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #03a9f4;
  }

.card-header1 {
    height: 40px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
}

.voltar {
  text-align: left;
}

.fas {
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  color: black;
  margin-bottom: 10px;
  margin-top: 20px;
}

.fas:hover {
  transform: scale(1.2);
}

.fa {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  color: black;
  margin-top: 10px;
  text-align: center;
}

.fa-arrow-left:hover {
  transform: scale(1.2);
}

.a:hover {
  transform: scale(1.2);
  color: #7692c5;
}
/* 
.fa {
  margin-top: 2%;
  font-size: 130%;
  cursor: pointer;
  user-select: none;
  color: black;
  margin-bottom: 10px;
}

.fa:hover {
  transform: scale(1.2);
} */