<app-header></app-header>
<app-navbar></app-navbar>
<div class="card">
    <h2 class="card-header" style = "text-align: center; font-weight: bold;">Perfil</h2>
    <div class="card-body">
        <h4 class="h41">Nome:</h4>
        <h4 class="h42">Email:</h4>
        <div class="botao1">
            <b>{{nome}}</b>
        </div>
        <div class="botao2">
            <b>{{emailUser}}</b>
        </div>
        <h4 class="h41">Telefone:</h4>
        <h4 class="h42">Cidade:</h4>
        <div class="botao1">
            <b>{{telefone}}</b>
        </div>
        <div class="botao2">
            <b>{{cidade}}</b>
        </div>
        <!-- <div class="dataNascimento">
            <p><span>Data Nascimento: </span><br><b>{{dataNascimento}}</b></p>
        </div> -->
        <h4 class="h41">Estado de Humor:</h4>
        <h4 class="h42">País:
            <div class="botao3">
                <b>{{pais}}</b>
            </div>
        </h4>
        <div class="botao1">
            <div class="estados" *ngFor="let e of estadoHumor">
                <b>{{e}}</b>
            </div>
        </div>
        <h4 class="h41">Facebook:</h4>
        <h4 class="h42">Linkedin:</h4>
        <div class="botao1">
            <b>{{facebook}}</b>
        </div>
        <div class="botao2">
            <b>{{linkedin}}</b>
        </div>
        <div class="tags">
            <p> <span> Tags: </span> <br> <b> {{tags}} </b> </p>
        </div>
        <div class="circular_image" id="circular_image">
            <img id="imagem" [src]="imagePreview">
        </div>
        <div class="remover">
            <i id="remover" (click)="removerConta()" class="fa fa-trash"> Remover Conta </i>
        </div>
    </div>
    <div id="confirmacao">
        <p><b style="margin-left: -20%; font: bold;">Pretende mesmo apagar a sua conta?</b></p>
        <i id="sim" type="submit" (click)="sim()" class="fa fa-check-circle"></i>
        <i id="nao" type="submit" (click)="nao()" class="fa fa-times-circle"></i>
        <!-- <button id="sim" (click)="sim()" style="margin-left: -20%;"> Sim </button>
        <button id="nao" (click)="nao()"> Não </button> -->
    </div>
</div>