<app-header></app-header>
<app-navbar></app-navbar>
<div class="card">
    <h4 class="card-header">Perfil</h4>
    <div class="card-body">
        <div class="name">
            <p><span>Nome: </span><br><b>{{nome}}</b></p>
        </div>
        <div class="email">
            <p><span>Email: </span><br><b>{{emailUser}}</b></p>
        </div>
        <div class="telefone">
            <p><span>Telefone: </span><br><b>{{telefone}}</b></p>
        </div>
        <!-- <div class="dataNascimento">
            <p><span>Data Nascimento: </span><br><b>{{dataNascimento}}</b></p>
        </div> -->
        <div class="estadoHumor">
            <p><span>Estado de humor: </span><br><b>{{estadoHumor}}</b></p>
        </div>
        <div class="cidade">
            <p><span>Cidade: </span><br><b>{{cidade}}</b></p>
        </div>

        <div class="pais">
            <p><span>Pais: </span><br><b>{{pais}}</b></p>
        </div>
        <div class="facebook">
            <p><span>Nome de utilizador no Facebook: </span><br><b>{{facebook}}</b></p>
        </div>
        <div class="linkedin">
            <p><span>Nome de utilizador no Linkedin: </span><br><b>{{linkedin}}</b></p>
        </div>
        <div class="tags">
            <p> <span> Tags: </span> <br> <b> {{tags}} </b> </p>
        </div>
        <div class="circular_image" id="circular_image">
            <img id="imagem" [src]="imagePreview">
        </div>
        <button id="remover_botton" (click)="removerConta()"> Remover Conta </button>
        <div id="confirmacao">
            <p><b style="margin-left: -20%; font: bold;">Pretende mesmo apagar a sua conta?</b></p>
            <button id="sim" (click)="sim()" style="margin-left: -20%;"> Sim </button>
            <button id="nao" (click)="nao()"> Não </button>
        </div>
    </div>
    <div class="card1">
    </div>
</div>