.card {
    top: 70px;
    padding: 18px;
    text-align: center;
    width: 40%;
    background-color: #f2f2f2e7;
    border-radius: 5px;
    justify-content: center;
    margin-left: 39%;
    position: fixed;
}

.card-header{
    font-weight: bold;
    margin-top: 0%;
}

.h41 {
    width: 50%;
    font-size: medium;
    height: 25px;
}

.h42 {
    text-align: center;
    width: 50%;
    height: 25px;
    font-size: medium;
    margin-left: auto;
    margin-right: 0;
    margin-top: -35px;
}

.botao1 {
    margin-top: -1%;
    width: 50%;
}

.botao2 {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
    text-align: center;
    margin-top: -22.5px;
}

.botao3 {
    margin-left: auto;
    margin-right: 0;
    width: 100%;
    margin-top: 7px;
    text-align: center;
}

.dataNascimento{
    margin-top: -6%;
    margin-left: 60%;
}

#myfile{
    margin-top: -9%;
    margin-left: 60%;
}

.tags{
    margin-top: -1%;
}

.circular_image {
    margin-top: -146%;
    margin-left: -92%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    display:inline-block;
    vertical-align:middle;
}

.circular_image img{
   width:100%;
}  


.remover{
    background-color: yellowgreen;
}

.remover button{
    margin-left: 70%;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    width: 130px;
}

#confirmacao{
    margin-left: 20%;
}

#sim{
    background-color: rgb(16, 219, 60);
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
  }
  
  #nao{
    background-color: red;
    color: white;
    border: none;
    padding: 7px 10px;
    margin-left: 15px;
    cursor: pointer;
  }
  