<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.min.js"></script>

  <nav>
    <div id="nav">
      <div class="dropdown">
        <a style="text-align: center;">Perfil</a>
        <div class="dropdown-content">
          <a routerLink="/perfil">Editar Perfil</a>
        </div>
      </div>
      <div class="dropdown">
        <a style="text-align: center;">Rede</a>
        <div class="dropdown-content">
          <a routerLink="/rede">Visualizar Rede</a>
          <a routerLink="/tam_rede">Calcular Tamanho Rede</a>
          <a routerLink="/cam_forte">Caminho Mais Forte</a>
          <a routerLink="/cam_curto">Caminho Mais Curto</a>
          <a routerLink="/cam_seguro">Caminho Mais Seguro</a>
        </div>
      </div>
      <div class="dropdown">
        <a style="text-align: center;">Amigos</a>
        <div class="dropdown-content">
          <a routerLink="/ligacao">Pedir Ligação</a>
          <a routerLink="/introducao">Introduções</a>
          <a routerLink="/pedido">Pedidos Introdução</a>
          <a routerLink="/pedir_introducao">Pedir Introdução</a>
        </div>
      </div>
      <div class="dropdown">
        <a style="text-align: center;">Relação</a>
        <div class="dropdown-content">
          <a routerLink="/relacao">Editar Relação</a>
        </div>
      </div>
    </div>
  </nav>
