/* Add padding to containers */
.card1 {
  padding: 17px;
  text-align: center;
  width: 40%;
  background-color: #f2f2f2e7;
  justify-content: center;
  position: absolute;
  border-color: #76b5c5;
  border-style: solid;
  border-radius: 8px;
  top: 45%;
  left: 58%;
  transform: translateX(-50%) translateY(-50%);
}

/* Add padding to containers */
.card2 {
  padding: 17px;
  text-align: center;
  width: 40%;
  background-color: #f2f2f2e7;
  justify-content: center;
  position: absolute;
  border-color: #76b5c5;
  border-style: solid;
  border-radius: 8px;
  top: 45%;
  left: 58%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9;
}

.coluna1-menor input[type=text] {
  width: 70%;
  /*padding: 3px;*/
  display: inline-block;
  border: none;
}

input[type=text]:focus {
background-color: #ffffff;
  outline: none;
}

.fa {
  margin-left: 40px;
  margin-top: 2%;
  font-size: 110%;
  cursor: pointer;
  user-select: none;
  color: black;
  margin-bottom: 10px;
}

.fa:hover {
  transform: scale(1.2);
}

.card-header{
    font-weight: bold;
    padding-bottom: 0%;
    margin-left: 2%;
}

.label1-maior{
  margin-left: 0%;
  width: 22%;
  font-size: medium;
  text-align: right;
}

.coluna1-menor{
  float: right;
  width: 75%;
  margin-top: -31px;
  text-align: left;
}

.card-body1 {
  margin-top: 50px;
}

#return{
  margin-left: -580px;
}

#selector{
  margin-bottom: 30px;
}