<app-header></app-header>
<app-navbar></app-navbar>

<div id="cardPrincipal" class="card1">
    <h2 class="card-header">Pesquisa...</h2><br>
    <div class="card-body">
        <div class="form-data">
            <select id="selector" (change)="selectChangeHandlerParametro($event)">
                <option selected disabled="disabled">Escolha o parâmetro de pesquisa...</option>
                <option> Nome</option>
                <option> Email</option>
                <option> País</option>
            </select>
        </div>
        <form [formGroup]="parametroForm" id="pesquisaJogadorParametro">
            <div class="form-group">
                <div class="label1-maior">
                    <label for="Parametro" style="font-weight: bold;">{{parametroSelecionado}}: </label>
                </div>
                <div class="coluna1-menor">
                    <input id="parametro" type="text" placeholder="Insira parametro..." formControlName="Parametro"
                        class="form-control" />
                    <i id="pesquisa" type="submit" (click)="pesquisar()" class="fa fa-search"> Pesquisar </i>
                </div>
            </div>
        </form>
        <h2 id="resultadosPesquisa" class="card-header" style="margin-top: 20px; font-size: 22px;">Resultados da
            Pesquisa:</h2>
        <div id="resultadosPesquisaCard" class="card-body">
            <div class="form-data">
                <select id="escolha" (change)="selectChangeHandler($event)">
                    <option selected>Escolha...</option>
                    <option *ngFor="let perfil of listaPerfis">
                        Nome: {{perfil.nome}}, Email: {{perfil.email}} </option>
                </select>
                <div id="jogadorParagrafo">
                    <p><span>Jogador Selecionado:</span><b>{{selected}}</b></p>
                    <i id="send" (click)="ligacao()" class="fa fa-paper-plane"> Mandar pedido de Ligação</i>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cardLigacao" class="card2">
    <i id="return" class="voltaBotao" type="submit" (click)="return()" class="fa fa-arrow-left"> Voltar </i>
    <h4 style="font-size: 22px;" class="card-header">Efetuar Pedido de Ligação ao Jogador:<br><b
            style="font-weight: normal; font-size: 17px;">{{selected}}</b></h4>
    <div class="card-body1">
        <form [formGroup]="ligacaoForm">
            <div class="label1-maior">
                <label for="TextoLigacao">Texto da Ligação: </label>
            </div>
            <div class="coluna1-menor">
                <input id="ligacao" type="text" placeholder="Insira texto de Ligação..." formControlName="TextoLigacao"
                    class="form-control" />
                <i id="ligacaoIcon" type="submit" (click)="onSubmit()" class="fa fa-paper-plane"> Enviar </i>
            </div>
        </form>
    </div>
</div>