<app-header></app-header>
<app-navbar></app-navbar>

<div class="card2">
    <h4 class="card-header">Pesquisar Jogadores:</h4>
    <div class="card-body">
        <div class="form-group">
            <button type="submit" id="submit" class="btn-primary" (click)="peloNome()">Por Nome</button>
            <button type="submit" id="submit1" class="btn1-primary" (click)="peloEmail()">Por Email</button>
            <button type="submit" id="submit2" class="btn2-primary" (click)="peloPais()">Por Pais</button>
        </div>
    </div>
</div>
<div class="card1">
    <h4 class="card-header">Pesquisa...</h4><br>
    <div class="card-body">
        <form [formGroup]="parametroForm" (ngSubmit)="pesquisar()">
            <div class="form-group">
                <div class="label1-maior">
                    <label for="Parametro">Parametro para pesquisa: </label>
                </div>
                <div class="coluna1-menor">
                    <input id="parametro" type="text" placeholder="Insira parametro..." formControlName="Parametro"
                        class="form-control" required />
                    <div class="botao1">
                        <button type="submit" id="botao" class="btn3-primary">Pesquisar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <h4 class="card-header">Resultados da Pesquisa:</h4>
    <div class="card-body">
        <div class="form-data">
            <select id="escolha" (change)="selectChangeHandler($event)">
                <option selected disabled="disabled">Escolha...</option>
                <option *ngFor="let perfil of listaPerfis">
                    Nome: {{perfil.nome}}, Email: {{perfil.email}} </option>
            </select>
            <p><span>Jogador Selecionado:</span><br><b>{{selected}}</b></p>
        </div>
    </div>
</div>
<div class="card3">
    <h4 class="card-header">Efetuar Pedido de Ligação ao Jogador: <b>{{selected}}</b></h4>
    <div class="card-body">
        <form [formGroup]="ligacaoForm" (ngSubmit)="onSubmit()">
            <div class="label-maior">
                <label for="TextoLigacao">Texto da Ligação: </label>
            </div>
            <div class="coluna-menor">
                <input id="ligacao" type="text" placeholder="Insira texto de Ligação..." formControlName="TextoLigacao"
                    class="form-control" required />
                <div class="botao">
                    <button type="submit" id="submit4" class="btn4-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>