<app-navbar></app-navbar>
<div class="fundo">
    <div class="card1">
        <h4 class="card-header">Lista de Relações</h4>
        <div class="card-body">
            <form [formGroup]="combobox">
                <div class="form-data">
                    <select (change)="selectChangeHandler($event)">
                        <option selected>Escolha...</option>
                        <option *ngFor="let perfil of listaPerfis">
                            {{perfil.email}} </option>
                    </select>
                    <p><span>Relação Selecionada: </span><b>{{selected}}</b></p>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <h4 class="card-header">Editar Relação</h4>
        <div class="card-body">
            <form [formGroup]="relacaoForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="listaTags">Tags</label>
                    <input type="text" placeholder="Insira Tags..." formControlName="listaTags" class="form-control"
                        required />
                </div>
                <div class="form-group">
                    <label for="customRange3" class="form-label">Força de Ligação</label>
                    <input type="range" class="form-range" min="1" max="100" step="1" id="customRange3">
                </div>
                <div class="form-group">
                    <button type="submit" id="submit" class="btn-primary">Guardar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>