#cabecalho {
    padding: 1px 16px;
    height: 40px;
    width: 95%;
    display: inline-block;
    position: absolute;
}

#menu {
    height: 30px;
    margin: 1px;
    text-align: right;
}

#menu a {
    color: black;
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}

#menu a:hover {
    color: white;
    background-color: rgb(12, 12, 7);
  }

  #imagem {
      position: absolute;
      margin-top: 5px;
      margin-left: 5px;
  }