<app-header></app-header>
<app-navbar></app-navbar>
    <div class="content">
        <div id="card">
            <i id="return" type="submit" (click)="return()" class="fa fa-arrow-left"> Voltar </i>
            <h2 style = "text-align: center; font-weight: bold;"> Amigos Sugeridos</h2>
            <p style = "margin-left: 1.5%; font-weight: bold;">Escolha o nível até o qual pretende que seja sugerido o utilizador </p>
            <form [formGroup]="pedirNivel">
                <div class="form-group">
                    <label style="text-align:left" for="numeroNiveis">Nível: </label>
                    <input type="text" id="numeroNiveis" placeholder="Número inteiro maior que 1"
                        formControlName="numeroNiveis" class="form-control" required />
                </div>
            </form>
            <!--<div class="form-group">
                <button (click)="onSubmitNivel()" id="submit" class="btn-primary">Ok</button>
            </div>-->
            <i id="Calcular" style ="margin-left: 40%;" type="submit" (click)="onSubmitNivel()" class="fa fa-users"> Avançar </i>
            <div class="form-data">
                <ul id="selector" class="selector" style="margin: 20px; margin-left: -10px;">
                    <p id = "textoSugestoes">Sugestões:</p>
                    <li *ngFor="let args of lista">
                        {{args}}
                    </li>
                </ul>
            </div>
        </div>
    </div>