#texto{
    margin-left: 17%;
    padding: 1px 16px;
    height: 665px;
    width: 89%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    overflow-y: auto;
}

.tags{
    margin-left: 3%;
}

.relacao{
    margin-left: 3%;
}

.relacao h4{
    margin-left: -3%;
    color: black;
    font-weight: bold
}

.fa {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    color: black;
    margin-left: 30px;
}

.fa:hover {
    transform: scale(1.2);
    color: #7692c5;
}

#container{
    padding: 17px;
    width: 50%;
    background-color: #f2f2f2e7;
    justify-content: center;
    position: fixed;
    overflow-y: auto;
    border-color: #76b5c5;
    border-style: solid;
    border-radius: 8px;
    top: 45%;
    left: 58%;
    transform: translateX(-50%) translateY(-50%);
}