<app-header></app-header>
<app-navbar></app-navbar>
<div id="texto">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <div id="container">
        <h2 style="font-weight: bold;">Tags das relações do utilizador:</h2>
        <div *ngIf="!listTags.length">Não tem relações com tags associadas!</div>
        <div *ngFor="let tag of listTags">
            <p style=" margin-left: 3%;">{{tag}} <button (click)="amigosTag(tag)" style="cursor: pointer; margin-left: 80%; display: block; margin-top: -25px;">Ver Amigos</button></p>
        </div>
        <h4 style="font-weight: bold;">Amigos com a tag selecionada:</h4>
        <div *ngFor="let amigo of listAmigos">
            <p>{{amigo}}</p>
        </div>
    </div>
</div>