<app-header></app-header>
<app-navbar></app-navbar>
<div id="texto">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <div id="container">
        <h2 style="font-weight: bold;">Tags das relações do utilizador:</h2>
        <div *ngIf="!listTags.length">Não tem relações com tags associadas!</div>
        <div class="tags"><br>
            <i type="submit" (click)="reDraw()" class="fa">Obter Tag Cloud</i>
            <angular-tag-cloud [data]="data" (clicked)="logClicked($event)" [width]="options.width" [height]="options.height" [overflow]="options.overflow"
            [zoomOnHover]="options.zoomOnHover" [realignOnResize]="options.realignOnResize"></angular-tag-cloud>    
        </div>
        <h4 style="font-weight: bold;">Amigos com a tag selecionada:</h4>
        <div *ngFor="let amigo of listAmigos">
            <p>Nome: {{amigo.nome}}, Email: {{amigo.email}}</p>
        </div>
    </div>
</div>