<app-header></app-header>
<app-navbar></app-navbar>
<div id="texto">
    <div id="container">
        <i id="return" type="submit" (click)="onVoltar()" class="fa fa-arrow-left"> Voltar </i>
        <h2 style="text-align: center; font-weight: bold;">Dfs - Força Ligação</h2>
        <form [formGroup]="form">
            <div class="form-group" style="height: 50px;">
                <div class="row">
                    <div class="col-25">
                        <label for="amigos">Amigos:</label>
                    </div>
                    <div class="col-85">
                        <select id="amigos" class="selector" style="margin: 20px;" (change)="selectAmigo($event)">
                            <option selected disabled="disabled">Selecione um jogador</option>
                            <option *ngFor="let eachVal of emailJogadores" [ngValue]="eachVal">
                                {{eachVal}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            
            <p id="mensagem" style="margin-left: 60px;"><span>Selecionou: </span><b>{{selectedJogador}}</b></p>
            <div class="col-75">
                <label for="numeroNiveis">Nível: </label>
                <input type="text" id="numeroNiveis" formControlName="numeroNiveis" class="form-control" required /><br>
                <input style="margin-left: 10px;" type="checkbox" id="estado" name="estado" (change)="toggleEditable($event)"> Considerar Estados
                Emocionais
            </div><br><br>
            <div class="botao">
                <i id="submit" type="submit" (click)="onSubmit()" class="fa fa-calculator"> Ver solução </i>
            </div>
            <p id="mensagem1" style="margin-top: 2.5%; margin-left: 1%;"><span> Caminho: </span>
                <option *ngFor="let eachVal of Caminho">
                    {{eachVal}}
                </option>
            </p>
            <p id="mensagem2" style="margin-left: 1%;"><span> Custo: </span><b> {{Custo}} </b></p>
        </form>
    </div>
</div>