.card{
    padding: 17px;
    width: 50%;
    background-color: #f2f2f2e7;
    border-radius: 8px;
    justify-content: center;
    margin-left: 33%;
    margin-top: 160px;
    position: fixed;
    overflow-y: auto;
    border-color: #76b5c5;
    border-style: solid;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
}