.w3-display-container {
    height: 100%;
    margin: 0;
}

.bgimg-1 {
    background-position: center;
    background-color: #000000;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./imagens/social-network.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
}

.w3-button {
    padding: 16px;
}

.w3-display-left{
    height: 100%;
    padding:48px
}

.w3-jumbo{
    text-align: center;
    padding: 16px;
}

.w3-display-bottomleft {
    padding:24px 48px;
}
