  #wer{
      margin-left: 17%;
      padding: 1px 16px;
      height: 745px;
      width: 89%;
      background-color: rgb(135, 212, 243);
      display: inline-block;
      vertical-align: top;
      position: absolute;
  }