  #wer{
      margin-left: 17%;
      padding: 1px 16px;
      height: 745px;
      width: 89%;
      background-color: rgb(135, 212, 243);
      display: inline-block;
      vertical-align: top;
  }
  
  ul{
      list-style: none;
  }

  ul li:hover {
      background: #555;
  }

  li{
      background-color: yellow;
      color: white;
      padding: 10px;
      font-size: 18px;
      font-family: 'Helvetica', sans-serif;
  }

  a{
      color: black;
      text-decoration: none;
  }