<app-header></app-header>
<app-navbar></app-navbar>
<div class="card">
    <div class="card-body">
        <div class="tags">
            <h2 style="margin-left: 34%;">Ver Caminhos</h2>
            <i type="submit" (click)="maisForte()" class="fa">Ver caminho mais forte</i>
            <i style="margin-left: 10%;" type="submit" (click)="maisCurto()" class="fa">Ver caminho mais curto</i>
            <i style="margin-left: 10%;" type="submit" (click)="maisSeguro()" class="fa">Ver caminho mais seguro</i>
        </div>
    </div>
</div>