<app-header></app-header>
<app-navbar></app-navbar>
<div class="card">
    <div class="card-body">
        <div class="tags">
            <h2 style="margin-left: 33.5%;">Ver Caminhos</h2>
            <button (click)="maisForte()"
                style="cursor: pointer; margin-left: 35%; display: block; margin-top: 60px;">Ver caminho mais forte</button>
            <button (click)="maisCurto()"
                style="cursor: pointer; margin-left: 35%; display: block; margin-top: 30px;">Ver caminho mais curto</button>
            <button (click)="maisSeguro()"
                style="cursor: pointer; margin-left: 34%; display: block; margin-top: 30px;">Ver caminho mais seguro</button>
        </div>
    </div>
</div>