<app-header></app-header>
<app-navbar></app-navbar>
<div class="card">
    <div class="card-body">
        <div class="tags">
            <h2 style="text-align: center; margin-bottom: 60px;">Ver Caminhos</h2>
            <div class="container">
                <div class="col1">
                    <i type="submit" (click)="maisForte()" class="fa">Ver caminho mais forte</i>
                </div>
                <div class="col1">
                    <i type="submit" (click)="maisCurto()" class="fa">Ver caminho mais curto</i>
                </div>
                <div class="col3">
                    <i type="submit" (click)="maisSeguro()" class="fa">Ver caminho mais seguro</i>
                </div>
            </div>
        </div>
    </div>
</div>