.card{
    border-color: #76b5c5;
    border-style: solid;
    padding: 17px;
    width: 50%;
    background-color: #f2f2f2e7;
    border-radius: 5px;
    justify-content: center;
    margin-left: 33%;
    margin-top: 15px;
    position: fixed;
    height: 30%;
    overflow-y: auto;
}

.tags{
    margin-left: 3%;
}

.tags h2{
    margin-left: -3%;
    color: black;
    font-weight: bold;
    height: auto;
}

.fa {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    color: black;
    margin-top: 7%;
}

.fa:hover {
    transform: scale(1.2);
    color: #7692c5;
}

/* #over:hover {
    color:#76b5c5;
} */